<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1> RESTful API list</h1>

<div>
    <ul></td><td>GET:</td><td>/</td></ul>
    <ul><td>GET:</td><td>/api/v1/part</td></ul>
    <ul><td>POST:</td><td>/api/v1/part/images</td></ul>
    <ul><td>GET:</td><td>/get_video</td></ul>
    <ul><td>GET:</td><td>/get_image</td></ul>
    <ul><td>GET:</td><td>/web_video</td></ul>
    <ul><td>GET:</td><td>/web_image</td></ul>
    <ul><td>GET or POST:</td><td>/api/v1/part</td>/api/upload/image</ul>
    <ul><td>GET or POST:</td><td>/api/v1/part</td>'/api/echo/(file)'</ul>
</div>


</body>
</html>